body {
    font-family: 'Kanit', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000;
    color: #00A6FF;
    padding: 0px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}
h5, p {
  text-align: center;
}
.navbar {
    background-color: #333;
    padding: 10px 0;
}
img {
    width: 350px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1px;
}

.inputs {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 10px;
}

select {
  margin:10px;
}

button {
  margin:10px auto 10px auto;
}

.form-control {
    border: 2px solid #00A6FF;
    color: #00A6FF;
    background-color: #333;
}
.form-control::placeholder {
    color: #00A6FF;
}
.form-select {
    background-color: #333;
    color: #00A6FF;
}
.btn-primary {
    background-color: #00A6FF;
    border: none;
}
.btn-primary:hover {
    background-color: #0077C2;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #333;
    border: 2px solid #00A6FF;
    color: #00A6FF;
    width: 300px;
    margin: 10px;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card-title {
    font-size: 1.9rem;
}
.card-text {
    color: #808080;
}
.pagination {
    justify-content: center;
}
.page-link {
    background-color: #333;
    color: #00A6FF;
    border: 1px solid #00A6FF;
    transition: background-color 0.2s;
}
.page-link:hover {
    background-color: #00A6FF;
}
.page-item.active .page-link {
    background-color: #00A6FF;
}
footer {
    background-color: #000;
    color: #00A6FF;
    text-align: center;
    padding: 10px 0;
}
#pagination {
  text-align: center;
  margin: 20px;
}
#characterName {
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0px 20px 20px;
}
a {
  text-align: center;
}
#characterDetails {
    background-color: #333;
    border: 2px solid #00A6FF;
    color: #00A6FF;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
    flex-direction: column;
}
#characterName {
    font-size: 2rem;
}
#characterDetails div {
    font-size: 1.2rem;
    margin: 10px 0;
}
#characterOrigin,
#characterLocation {
    color: #00A6FF;
    text-decoration: none;
}
#characterOrigin:hover,
#characterLocation:hover {
    text-decoration: underline;
}
#episodeList {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
#episodeList li {
    font-size: 1.1rem;
    margin: 5px 0;
}
a.btn {
    display: block;
    margin: 20px auto;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    background-color: #00A6FF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.2s;
}
a.btn:hover {
    background-color: #0077C2;
}
@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    input {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    select {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      margin: auto;
    }
    #characterImage {
      width: 60%;
    }
}
/* Animações */
body {
    transition: opacity 0.3s ease-in-out;
}
/* Animação de escala suave para os cards de personagens */
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
/* Animação de botão de pesquisa ao ser clicado */
#searchButton {
    transition: transform 0.2s;
}
#searchButton:active {
    transform: scale(0.95);
}
/* Animação de botão "Voltar à lista de personagens" */
a.btn {
    transition: background-color 0.2s;
}
a.btn:hover {
    background-color: #0077C2;
}
/* Animação de fade-in para a página */
body {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animação de entrada suave para os cards de personagens */
.card {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards, slideIn 2s ease-in-out 0.5s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animação de zoom suave para os botões */
button, a.btn {
    transform: scale(0.8);
    animation: zoomIn 0.5s ease-in-out 1s forwards;
}
@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
/* Animação de destaque do botão de pesquisa ao passar o mouse */
#searchButton:hover {
    animation: highlightButton 0.2s ease forwards;
}
@keyframes highlightButton {
    from {
        background-color: #00A6FF;
    }
    to {
        background-color: #0077C2;
    }
}